APP_ENV=development
SECRET_KEY=change-me-run-openssl-rand-hex-32
PUBLIC_BASE_URL=http://localhost:8000

DATABASE_URL: postgresql+asyncpg://postgres.fgnzsrpxdokkfphicxoy:ARCApass2025@aws-1-us-east-2.pooler.supabase.com:6543/postgres

SUPABASE_URL=https://fgnzsrpxdokkfphicxoy.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnbnpzcnB4ZG9ra2ZwaGljeG95Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTMyNzcsImV4cCI6MjA5NDY4OTI3N30.OJqis07H0bUdWh3-dU50vxtB_PnSMFE9ug_nJzC1xoU
SUPABASE_SERVICE_KEY=sb_secret_A2wOXG8NTGa7FCG0yXmbFw_j2nCm7uH
SUPABASE_JWT_SECRET=

REDIS_URL=redis://redis:6379/0
CORS_ORIGINS=["http://localhost:3000","http://localhost:8000"]
DEFAULT_N_SIMULATIONS=10000
MAX_N_SIMULATIONS=50000
